/* .preview-container {
    border-bottom: 1px solid #d9d9d98c;
    position: absolute;
    z-index: 3;
    top: 107px;
    width: 98.5%;
} */
.table-preview tr>td{
  padding: 0.5rem !important;
}
.preview-height{
    height: auto;
    padding-bottom: 0.5rem;
    /* height: 455px; */
    /* height: calc(100vh - 365px); */
}
.preview{
    position: relative;
    /* overflow: hidden; */
    outline: none;
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    justify-content: space-between;
    margin: 0 16px 1em 0;
    /* top: 29px; */
}
.preview-header{
    background: #F1F8EC;
    border-bottom: 1px solid #E4E4E4;
    height: auto;
    padding: 1em 1em 1em 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* .pagignate-content{
    background: #F1F8EC;
    border-bottom: 1px solid var(--border-color);
    height: auto;
    padding: 1em 1em 0.6em 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} */

.paginate-block {
  margin: auto;
}

.row {
  display: flex;
  margin: auto;
}

.slds-item.navigate {
  border: 1px solid var(--grey-color);
  background: var(--even-row-color);
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.slds-item.navigate a {
  padding: 0.85rem !important;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.navigate-icon {
  color: #7ABB4A !important;
}

.pageEdit {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  display: flex;
}

.flow-block {
  display: flex;
}

.page-num-block {
  color: rgba(29, 29, 29, 0.40);
  font-family: 'Proxima Nova' !important;
  font-size: 12px;
  width: 25px;
  height: 25px;
  padding: 3px 0 0 0 !important;
  /* padding-top: 2px; */
  text-align: center;
  justify-content: center;
}

.page-num-disabled {
  pointer-events: none;
  cursor: none;
}

.page-num-block.active {
  /* background: var(--green-color); */
  /* border-radius: 100px; */
  font-family: 'Proxima Nova Bold' !important;
  color: var(--link-color);
}

.page-num-block:hover{
  /* background: #7ABB4A;
  border-radius: 100px; */
  font-family: 'Proxima Nova Bold' !important;
  color: var(--link-color) !important;
}

.header-content{
  display: flex;
}

.search-holder{
  display: flex;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 221px;
  height: 40px;
}

.search-icon-block{
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-icon{
  width: 19px;
  height: 19px;
  margin: 10px 24px 10px 15px;
}

.close-btn{
  background: var(--even-row-color);
  position: absolute;
  right: 7px;
  top: 9px;
}

.slds-input:focus{
  --slds-c-input-shadow: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.filter-input{
  border: 0;
  padding-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Proxima Nova';
}

.header-title a{
    color: #1D1D1D !important;
    line-height: 2rem;
}

.header-title a:hover{
    text-decoration: none !important;
}
.head-sort{
    display: flex;
}
.sort_icon {
  color: #D7D7D7 !important;
  line-height: 0 !important;
  display: flex;
}
.green_icon{
    color: #7ABB4A !important;
    line-height: 0 !important;
    display: flex;
}

.slds-scrollable_y::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #F6F6F6;
    border-radius: 100px;
    background-color: #F6F6F6;
}

.slds-scrollable_y::-webkit-scrollbar {
    width: 5px;
    height: 50px;
    background-color: #F6F6F6;
}

.slds-scrollable_y::-webkit-scrollbar-thumb {
    border-radius: 100px;
    height: 50px;
    background-color: #404B5B
}

.slds-scrollable_y {
    max-height: calc(100vh - 318px) !important;
}

.slds-table tbody td {
  /* padding: 0.6rem !important; */
  position: relative;
  font-family: 'Proxima Nova' !important;
}

.slds-table thead th{
  font-family: 'Proxima Nova Bold' !important;
  font-size: 14px !important;
  /* width: 9.5rem !important; */
  padding-left: 0.6em;
  background-color: #FFFFFF;
}

.slds-table thead .download-th{
    width: 4rem !important;
}

.slds-table .modal-content{
    font-weight: 400;
    font-size: 14px !important;
    line-height: 189.8% !important;
    color: var(--link-color) !important;
}

.slds-table tr .modal-content {
  color: var(--link-color) !important;
}
.slds-table tr td.modal-content:empty:after{
  content: "—";
  vertical-align: middle;
  padding-left: 3px;
}

.slds-table:not(.slds-no-row-hover) tbody tr:hover>td{
  /* background-color: transparent !important; */
}

.slds-table tbody tr {
  cursor: pointer;
}

.slds-table tbody tr.norecord>td{
  background-color: transparent ;
}

.slds-table thead th:first-child{
  padding-left: 1rem;
}

/* .slds-table_cell-buffer  tr.collapsible:nth-of-type(4n + 1)>td:first-child{
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.slds-table_cell-buffer  tr.collapsible:nth-of-type(4n + 1)>td:last-child{
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.slds-table_cell-buffer  tr.collapsible:nth-of-type(2n + 3)>td:first-child{
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.slds-table_cell-buffer  tr.collapsible:nth-of-type(2n + 3)>td:last-child{
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.slds-table_cell-buffer tr.collapsible>td:first-child{
    /* padding-left: 2.2rem !important;
} */

/* .slds-table_striped tbody tr.collapsible.hightlight_row:nth-of-type(2n + 3)>td{
  background-color: #cbf3ad !important;
}

.slds-table_striped tbody tr.collapsible.hightlight_row:nth-of-type(4n + 1)>td{
  background-color: #cbf3ad !important;
}

.slds-table_striped tbody tr.collapsible.row-approved-color:nth-of-type(2n + 3)>td{
  background-color: rgb(231 246 220) ;
}

.slds-table_striped tbody tr.collapsible.row-approved-color:nth-of-type(4n + 1)>td{
  background-color: rgb(231 246 220) ;
}

.slds-table_striped tbody tr.collapsible.row-rejected-color:nth-of-type(2n + 3)>td{
  background-color: rgb(252 225 201);
}

.slds-table_striped tbody tr.collapsible.row-rejected-color:nth-of-type(4n + 1)>td{
  background-color: rgb(252 225 201) ;
}

.slds-table_striped tbody tr.collapsible:nth-of-type(2n + 3)>td{
    background-color: #F7F7F7 ;
}

.slds-table_striped tbody tr.collapsible:nth-of-type(4n + 1)>td{
    background-color: #FFFFFF ;
} */

.slds-table_striped tbody tr.norecord:nth-of-type(even)>td{
    background-color: #FFFFFF ;
}

.slds-cell-fixed {
    /* width: 10rem !important; */
}

.sort-container{
    display: flex;
    flex-flow: column;
    line-height: 0.12 !important;
    padding-top: 17px;
    padding-left: 6px;
    width: 20px;
}

.fa,
.fas,
.fa-solid,
.fa-regular {
    font-family: "Font Awesome 6 Free" !important
}

.no-data-message{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-family: 'Proxima Nova Bold' !important;
    color: var( --link-color);
}

.slds-approvebtn {
    background: #7ABB4A;
    color: white;
    font-family: 'Proxima Nova Bold' !important;
    /* width: 98px; */
    border-radius: 8px;
    /* left: -8px; */
    height: 32px;
    font-size: 14px;
    padding: 8px 14px;
}

.slds-approvebtn:hover {
    color: white;
}
.slds-approvebtn:focus {
    color: white;
    background: #7ABB4A;
    box-shadow: none;
}

.tripButton {
    margin: 0 0 0 15px !important;
}

.row.content_view td.opened {
  background-color: #FFFFFF !important;
}

.row.collapsible {
  border-top: 3px solid white;
}

.content_view {
  display: none;
}

.form tr>td:first-child{
/* padding-left: 2.2rem !important; */
}

.form tr td {
  background-color: #FFFFFF !important;
}

.view-text {
  font-family: 'Proxima Nova' !important;
  font-size: 12px;
  color: #1D1D1D !important;
  /* width: 6.5rem !important; */
  padding: 0 !important;
}

.row_splitter{
  margin:  2em -144.9em 0 -0.9em !important;
}

.createTrip {
  background-color: #FFFFFF !important;
}
.createTrip td {
  background-color: #FFFFFF !important;
}

.tripEditContainer {
  border: 1px solid #d9d9d98c;
  border-top: none;
  border-radius: 10px;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

.removeBorder {
  border-bottom-left-radius: 0px !important;
}

/* New styles for table */
.fixed-table{
  min-width: max-content;
}

.fixed-table thead th{
  position: sticky;
  z-index: 2;
  top: 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.slds-table_striped.fixed-table tbody tr:nth-of-type(even)>td {
  background-color: var(--even-row-color); /*--odd-row-color*/
}

.slds-table_striped.fixed-table tbody tr:nth-of-type(odd)>td {
  background-color: var(--odd-row-color); /* --even-row-color */
}

.slds-table_striped tbody tr:nth-of-type(even)>td {
  background-color: var(--odd-row-color); /*--odd-row-color*/
}

.slds-table_striped tbody tr:nth-of-type(odd)>td {
  background-color: var(--even-row-color); /* --even-row-color */
}

.slds-table_striped tbody tr.norecord:nth-of-type(even)>td {
  background-color: var(--even-row-color) !important; /* --even-row-color */
}

.slds-table_cell-buffer tr:nth-of-type(even)>td:first-child {
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.slds-table_cell-buffer tr:nth-of-type(even)>td:last-child {
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.slds-table_cell-buffer tr:nth-of-type(odd)>td:first-child {
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.slds-table_cell-buffer tr:nth-of-type(odd)>td:last-child {
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.slds-table_cell-buffer tr>td:first-child {
  padding-left: 1rem !important;
}

.slds-table--header-fixed_container.p-top-v1 {
  padding-top: 3.8rem !important;
}

.slds-table--header-fixed_container.p-top-v2 {
  padding-top: 3.1rem !important;
}

.slds-table tr td.modal-content.check-box-td:empty:after {
  /* display: none; */
  float: right;
}

.slds-table tr.rejected {
  border-top: 1px solid var(--even-row-color);
  border-bottom: 1px solid var(--even-row-color);
}

.slds-table tr.rejected .modal-content {
  color: var(--red-color) !important;
  font-family: 'Proxima Nova' !important;
}

.slds-table tr.rejected>td {
  background-color: rgba(250, 120, 0, 0.2) !important;
}

.scrollable_wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 100px;
  background-color: transparent;
}

.scrollable_wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
  /* background-color: var(--scroll-color); */
}

.scrollable_wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  height: 6px;
  background-color: rgb(64 75 91 / 70%) /*var(--active-color)*/
}

.scrollable_wrapper{
  overflow-y: auto;
  overflow-x: auto;
  height: fit-content;
  /* max-height: 66.4vh; */
  max-height: calc(100vh - 254px);
  padding-bottom: 0.5rem;
  /* scroll-snap-type: y mandatory;
  scroll-padding: 20px; */
}

.fixed-container:before {
  border-bottom: none !important;
}

.fixed-container{
  max-height: fit-content;
}

/* Tooltip */
.tooltipValue {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #404B5A;
  height: auto;
  width: 190px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 18px;
  color: white;
  top: 34px;
  left: 7px;
  white-space: pre-wrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 145.8%;
}
.tooltipText {
  position: relative;
}
.tooltipText:hover span.tooltipValue {
  display: block;
}

/* Tooltip */

/* Modal */
.modal_header{
  font-size: large;
  position: relative;
}
.modal_content-class{
  text-align: center;
  color: #1D1D1D;
  font-size: 14px;
  font-family: 'Proxima Nova' !important;
}
.button_class{
  position: relative;
  padding: 15px 0px;
}
.slds-btn{
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border: 0;
  /* border-radius: .125rem; */
}
.slds-btn-sm {
  margin: 0 0.4em;
  padding: 6px 20px;
  height: 35px;
  /* font-size: 12px; */
}
.waves-effect:focus {
  outline: none !important;
}
.bc-green {
  background: none !important;
  background-color: #7ABB4A!important;
  font-family: 'Proxima Nova Bold' !important;
  color: #FFFFFF;
}
.bc-black{
  background: none !important;
  background-color: #404B5B!important;
  font-family: 'Proxima Nova Bold' !important;
  color: #FFFFFF;
}
.btn-modal{
  border-radius: 10px;
  text-decoration: none !important;
  color: #FFFFFF !important;
}
.spanMessage {
  font-family: 'Proxima Nova Bold' !important;
}
/* Modal */

/* Responsive */
@media (max-width: 820px) {
  .page-header .slds-size_3-of-12 {
      width: 36%;
      padding: 5px 0;
      margin: 0;
  }
  .preview-container {
      top: 158px;
  }
}
/* Responsive */